*{
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: 'Montserrat', sans-serif;

}
main{
    display: flex;
}
:root{
    --primary: #141922;
    --secondary: #080b12c3;
    --leftbar: #000000;
    --downbar: #282828;
    --text: #6D6D6D;
    --bar: #5A5A5A;
    --current_bar: #C1C1C1;

}
h3{
    color: white;
    font-size: 0.8rem;
    margin-bottom: 5px;
}


/* #region left bar */

.left_bar{
    width: 200px;
    background-color: var(--leftbar);
    display: flex;
    /* flex-wrap: wrap; */
    height: calc(100vh - 80px);
    flex-direction: column;
    justify-content: space-between;
    /* position:fixed ; */
    padding-left: 1rem;
    padding-top: 1rem;
padding-right: 1rem;
overflow-y: auto;
}

.logo{
    width: 150px;
    margin-bottom: 1rem;
}

/* #region simboli */
.symbol{
    width: 30px;
}

.symbol_small{
width: 15px;
}
.symbol_user{
    width: 20px;
    background-color: var(--text);
    border-radius: 50%;
}
/* #endregion simboli */





/* #region main function */

.main_function{
    width: 100%;
}
.function{
    margin-bottom: 5px;
}

/* .home.function{
    border-left: 1px solid green;
} */


.text.active{
    text-decoration: none;
    color: white;
    vertical-align: super;
}
.playlist_list{
    display: flex;
    flex-direction: column;
}



.text{
color: var(--text);
text-decoration: none;
vertical-align: super;
padding: 8px 0;
font-size: 0.7rem;

}


.add_playlist{
    background-color: var(--text);
    font-size: 2rem;
    padding: 2px 12px;
}

.new_playlist{
margin: 1rem 0;
}

/* #endregion main function */

/* #region other function */

.other_function{
    width: 100%;
    margin-top: 50px;
}

.user{
    padding-top: 7px;
    border-top: 1px solid white;
    display: flex;
    align-items: center;
}
.user>img{
    margin-right: 0.6rem;
}

/* #endregion other function */



/* #endregion left bar */

/* #region music selection */

/* #region up bar */
.up_bar{
height: 80px;
position: fixed;
width: 100%;
background-color: var(--secondary);
top: 0px;
    /* left: 0px; */
    left: 200px;
}
.do_upgrade{
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
    width: calc(100% - 220px);
 
}
.upgrade{
    font-size: 0.7rem;
    border: 1px solid white;
    border-radius: 20px;
    color: white;
    padding: 10px;

}

/* #endregion up bar */


/* #region scelta musica */
.conteiner_music{
    margin-top:80px;
}
.music_selection{
    width: calc(100% - 200px);
        /* height: 100vh; */
    background-color: var(--primary);
    height: calc(100vh - 80px);
    /* position: absolute;
    right: 0; */
    overflow-y: auto;
    padding: 1rem;
}
.row_option{
    display: flex;
    justify-content: center;
}
.option{
margin: 0 0.5rem;
}

.text_option{
font-size: 0.8rem;
text-decoration: none;
color: var(--text);
}

.active_1{
border-bottom: 1px solid green;
padding-bottom: 0px;
}

/* #region recently */
.row_recently{
    display: flex;
}
.card{
padding: 0.5rem;
width: calc(100% / 12 *2);
/* height: 100px; */
text-align: center;
color: white;
margin: 1rem 0;
display: inline;
}

.music>img{
    /* background-color: blue; */
    width: 100%;
    height: 100%;
margin-bottom: 10px;
}
.card>h4{
    font-size: 0.8rem;
    margin-bottom: 3px;

    color:white;
}
.card>span{
    font-size: 0.7rem;
    color: var(--text);
}

/* #endregion recently */

.row_for_you{
    display: flex;
}


.row_artist{
display: flex;

}


.artist>img{
    /* background-color: blue; */
    width: 100%;
    /* height: 100%; */
margin-bottom: 10px;
border-radius: 50%;

}
/* #endregion scelta musica */


/* #endregion music */

/* #region down bar */

.down_bar{
    height: 80px;
    width: 100%;
    background-color: black;
    /* position: fixed;
    bottom: 0; */
}
.row_down_bar{
    display: flex;
    justify-content: space-between ;
    align-items: center;
    height: 100%;

}

/* #region col_1 */
.col_1{
    width: calc(100%/ 12 *3);
/* background-color: darkmagenta;
height: 50px;
flex-grow: 1; */
}
.music_display{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.current_music{
    display: flex;
    align-items: center;

}

.current_music_picture{
margin: 0 10px;

}

.current_music_picture > img {
width: 50px;
}

/* #endregion col_1 */

/* #region col_2 */

.col_2{
    width: calc(100%/ 12 *6);
    /* background-color: aquamarine; */
    height: 50px;
    /* flex-grow: 3; */
    display: flex;
    justify-content: center;
}
.control_bar{
    color: white;
    display: flex;
    justify-content: center;
}
.control_bar>i{
padding: 0 10px;
}
.current_music_artist > h5{
    color: white;

}

.current_music_artist > span{
    font-size: 0.7rem;

}
.symbol_current_music{
    display: flex;
    /* margin-left: 30px; */
    width: 50px;
}
.music_symbol{
    /* width: 15px; */
    margin: 3px;
    color: var(--text);

}
.play_display{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.music_bar{
    color: white;
    font-size: 0.6rem;
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.time_music_bar{
background-color: var(--bar);
height: 4px;
width: calc(100% / 12 *10);
border-radius: 10px;
    margin: 0 5px;
}
.current_time_music_bar{
    background-color: white;
    height: 4px;
    width: calc(100% / 12 *4);
    border-radius: 10px;

}


/* #endregion col_2 */

/* #region col_3 */

.col_3{
    width: calc(100%/ 12 *3);
    /* background-color: bisque; */
    height: 50px;
    /* flex-grow: 1; */
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.volume_display>i{
    color: white;
    padding: 5px;
}
.volume{
    background-color: var(--bar);
    height: 4px;
    width: 80px;
    margin-right: 1rem;
    border-radius: 10px;
}
.current_volume{
    height: 4px;
    background-color: white;
    width: 40px;
    border-radius: 10px;
}
/* #endregion col_3 */


/* #endregion down bar */

.background_picture{
    background-color: #000000a2;
    /* background-size: cover; */
    width: 100%;
    height: calc(100% - 13px);
    position: absolute;
    display: none;

}

/* #region hover */
.link:hover{
    color: white;
}
.link_music:hover{
    color: white;
text-decoration: underline;
}
.card:hover{
    cursor: pointer;
    /* display: block; */
}
.music_symbol:hover{
    color: white;
}
.current_time_music_bar:hover{
    background-color: green;
}
.current_volume:hover{
    background-color: green;
}

/* #endregion hover */

.music{
position: relative;
}
.card:hover+ .background_picture{
    display: block;
}


