*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

main{
    display: flex;
}
/* #region left bar */

.left_bar{
    width: 200px;
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    left: 0;
    height: 100%;
}
/* #region main function */

.main_function{
    width: 100%;
}

.playlist_list{
    display: flex;
    flex-direction: column;
}

/* #endregion main function */

/* #region other function */

.other_function{
    width: 100%;
}

/* #endregion other function */



/* #endregion left bar */

/* #region music selection */

/* #region up bar */
.up_bar{
height: 100px;
background-color: rgba(0, 0, 0, 0.489);
width: 100%;
}
.upgrade{
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

/* #endregion up bar */


.music{
    width: calc(100% - 200px);
        height: 100vh;
    background-color: blueviolet;
    position: absolute;
    right: 0;
}
/* #endregion music */

/* #region down bar */

.down_bar{
    height: 80px;
    width: 100%;
    background-color: black;
    position: fixed;
    bottom: 0;
}
.row_down_bar{
    display: flex;
    justify-content: space-between ;
    align-items: center;
    height: 100%;

}
.col_1{
    width: calc(100%/ 12 *3);
background-color: darkmagenta;
height: 50px;
}
.col_2{
    width: calc(100%/ 12 *6);
    background-color: aquamarine;
    height: 50px;

    
}
.col_3{
    width: calc(100%/ 12 *3);
    background-color: bisque;
    height: 50px;

}



/* #endregion down bar */
